NET "sw[5]" LOC = F3;
NET "sw[4]" LOC = G3;
NET "sw[3]" LOC = B4;
NET "sw[2]" LOC = K3;
NET "sw[1]" LOC = L3;
NET "sw[0]" LOC = P11;


NET "seg7[7]"    LOC = K14;
NET "seg7[6]"    LOC = K14;
NET "seg7[5]"    LOC = K14;
NET "seg7[4]"    LOC = K14;
NET "seg7[3]"    LOC = K14;
NET "seg7[2]"    LOC = K14;
NET "seg7[1]"    LOC = K14;
NET "seg7[0]"    LOC = K14;